### Flutter & Dart ###
.dart_tool/
.pub/
.pub-cache/
.packages
build/
flutter_*.png
*.dill
*.lock
*.iml
generated_plugin_registrant.dart
.flutter-plugins
.flutter-plugins-dependencies

### Android ###
android/local.properties
android/**/GeneratedPluginRegistrant.java
android/**/*.iml
android/.gradle/
android/app/build/
*.apk
*.aab

### iOS ###
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Pods/
*.xcworkspace
*.xcarchive
*.ipa

### Web ###
web/build/

### macOS ###
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Pods/
macos/Flutter/ephemeral/

### Linux ###
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugins.cmake

### Windows ###
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake
windows/flutter/ephemeral/

### Android Studio ###
.idea/
*.iml
*.ipr
*.iws

### VS Code ###
.vscode/
*.code-workspace

### Logs & Debug files ###
*.log
flutter_console.log
*.symbols
*.map.json

### Temporary Editor Files ###
*.swp
*.swo
*~
~$*

### OS Files ###
.DS_Store
Thumbs.db
